/* Color Theme Swatches in Hex */
.color-theme_Alley28-color-theme-1-hex {
    color: #667302;
}

.color-theme_Alley28-color-theme-2-hex {
    color: #D97904;
}

.color-theme_Alley28-color-theme-3-hex {
    color: #BFAC95;
}

.color-theme_Alley28-color-theme-4-hex {
    color: #BF3604;
}

.color-theme_Alley28-color-theme-5-hex {
    color: #592B27;
}

/* Color Theme Swatches in RGBA */
.color-theme_Alley28-color-theme-1-rgba {
    color: rgba(102, 115, 2, 1);
}

.color-theme_Alley28-color-theme-2-rgba {
    color: rgba(217, 121, 4, 1);
}

.color-theme_Alley28-color-theme-3-rgba {
    color: rgba(191, 172, 149, 1);
}

.color-theme_Alley28-color-theme-4-rgba {
    color: rgba(191, 54, 4, 1);
}

.color-theme_Alley28-color-theme-5-rgba {
    color: rgba(89, 43, 39, 1);
}

/* Color Theme Swatches in HSLA */
.color-theme_Alley28-color-theme-1-hsla {
    color: hsla(66, 96, 22, 1);
}

.color-theme_Alley28-color-theme-2-hsla {
    color: hsla(32, 96, 43, 1);
}

.color-theme_Alley28-color-theme-3-hsla {
    color: hsla(32, 24, 66, 1);
}

.color-theme_Alley28-color-theme-4-hsla {
    color: hsla(16, 95, 38, 1);
}

.color-theme_Alley28-color-theme-5-hsla {
    color: hsla(4, 39, 25, 1);
}